{{!--
  Deprecated `nav` partial
  - Navigation has been moved into `header.hbs` (logo, links, search, profile menu).
  - Keeping this file minimal so templates that reference {{> nav}} won't break.
  - Remove or update this partial if you stop referencing it elsewhere.
--}}

<div aria-hidden="true"></div>