<div class="list-item">
    <span class="rank-number">{{@index}}</span>
    <div class="list-item-info">
        <h4>{{title}}</h4>
        <p>{{artist}}</p>
    </div>
    <span class="rating-badge">★ {{average_rating}}</span>
</div>