

<!-- CODE FROM LAB 7:
<!DOCTYPE html>
<html lang="en">

<head>
  ...
</head>

<body>
  {{> nav}}

  <form action="/login" method="POST" style="margin-top: 150px;">
    <h2>Login</h2>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>              Used to check if username is in the db

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>          Used to check if it is the correct password in the db

    <button type="submit">Login</button>

    <div class="register">
      Don't have an account? <a href="/register">Register</a>
    </div>
  </form>

</body>

</html>
-->