



<!-- CODE FROM LAB 7:

<!DOCTYPE html>
<html lang="en">

<head>
  ...
</head>

<body>
  {{> nav}}
    <form action="/register" method="POST" style="margin-top: 150px;">
      <h2>Register</h2>

      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>                Adds the username to the db

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>            Adds the users' password to the db

      <button type="submit">Register</button>

      <div class="login">
        Already have an account? <a href="/login">Login</a>
      </div>
    </form>
</body>

</html>
-->